@import 'baseStyles.module';

.header {
  background-color: $bgcol2;
  width: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  height: 60px;
  font-size: 24px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: white;
  width: 100%;
}
.logo_link {
  font-family: 'Lemon_Milk_Bold', serif;
  font-size: 28px;
  margin-left: 20px;
  background-color: black;
  width: 82px;
  height: 80%;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  .letters_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -2px;
    span {

      &:nth-child(1) {
        color: $col_light_pink;
      }
      &:nth-child(2) {
        color: $col_light_green;
      }
      &:nth-child(3) {
        color: $col_light_purple;
      }
    }
  }

  .letters_wrapper:hover::before {
    content: '';
    position: absolute;
    filter: blur(10px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 1em, #BFE2FF 1em, #ce00c3 50%), repeating-linear-gradient(-45deg, #7900ff, #00e040 1em, #FFF 1em, #BFE2FF 50%);
    background-size: 3em 3em, 2em 2em;

  }
  @keyframes ani {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

}
.middle {
}
.nav {

  padding-right: 20px;
  font-size: 22px;
  ul {
    display: flex;
    list-style: none;
    li+li {
      padding-left: 20px;
    }
    li {

      a:hover {
        color: $col_light_yellow;
      }
    }
  }
}