.login_menu_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login_menu {
  margin-top: -110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6c0f86;
  color: white;
  width: 400px;
  height: 550px;
  padding: 90px 50px 30px;
  border-radius: 7px;
  box-shadow: black;
}

.title {
  font-size: 36px;
  font-family: "Poppins", serif;
}

.logo {
  margin-top: 40px;
  width: 60px;
  height: 60px;
}

.login_menu input {
  position: relative;
  color: white;
  width: 300px;
  background-color: transparent;
  border: 0;
  outline: none;
  border-bottom: 2px solid white;
  font-size: 22px;
  padding-bottom: 4px;
}
.login_menu .input_login {
  position: relative;
  margin-top: 65px;
}
.login_menu .input_login span {
  transition: transform;
}
.login_menu .input_login span:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Login";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(0);
}
.login_menu .input_login span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Login";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-35px);
}
.login_menu .input_password {
  position: relative;
  margin-top: 65px;
}
.login_menu .input_password span {
  transition: transform 0.2s ease-in;
}
.login_menu .input_password span:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Password";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(0);
}
.login_menu .input_password span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Password";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-35px);
}

.button {
  margin-top: 100px;
}
.button button {
  background: linear-gradient(to left, #ff000f, #760aaa);
  background-size: 200%;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 24px;
  color: white;
  border: 1px white solid;
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 1, 1.23), background-position 0.2s ease-in;
}
.button button:hover {
  transform: scale(1.1, 1.1);
  background-position: right;
}

.footer {
  margin-top: 30px;
}
.footer a {
  color: white;
  transition: color 0.15s ease-in;
}
.footer a:hover {
  color: #4789bd;
}

.login_menu_wrapper.register .input_login, .login_menu_wrapper.register .input_password {
  margin-top: 0;
}
.login_menu_wrapper.register .input_login span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Login";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-25px);
}
.login_menu_wrapper.register .input_password span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Password";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-25px);
}
.login_menu_wrapper.register .input_email {
  position: relative;
}
.login_menu_wrapper.register .input_email span {
  transition: transform 0.2s ease-in;
}
.login_menu_wrapper.register .input_email span:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Email";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(0);
}
.login_menu_wrapper.register .input_email span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Email";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-25px);
}
.login_menu_wrapper.register .input_phone {
  position: relative;
}
.login_menu_wrapper.register .input_phone span {
  transition: transform 0.2s ease-in;
}
.login_menu_wrapper.register .input_phone span:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Phone";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(0);
}
.login_menu_wrapper.register .input_phone span.active:before {
  transition: transform 0.25s ease-in-out;
  position: absolute;
  content: "Phone";
  color: #989898;
  left: 0;
  bottom: 10px;
  transform: translateY(-25px);
}
.login_menu_wrapper.register .logo {
  margin-bottom: 30px;
}
.login_menu_wrapper.register .button {
  margin-top: 80px;
}
.login_menu_wrapper.register .login_menu {
  padding: 60px 50px 80px;
}
.login_menu_wrapper.register .login_menu .input_field + .input_field {
  margin-top: 36px;
}

/*# sourceMappingURL=login_and_reg_menu.module.css.map */
