@import './../baseStyles.module';

.profile_menu {
  display: flex;
  padding-top: 20px;

}

.left_part {
  position: relative;
  font-family: 'Poppins', serif;
  display: flex;
  align-items: center;

  flex-direction: column;
  width: 300px;
  //max-height: 400px;
  flex-grow: 0;

  .avatar {
    width: 100%;

    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url('./../../Images/Profile/profile_avatar_background1.jpg') no-repeat;

    img {
      width: 140px;
      border-radius: 400px;
    }

    .profile_name {
      font-size: 30px;

    }

    padding-bottom: 20px;
  }


  .birthday_data {
    user-select: none;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    height: 20px;
    border-top: 2px gray solid;
    display: flex;

    div {
      text-align: center;

      &:nth-child(1) {
        color: $col_light_pink;
        width: 20%;
      }

      &:nth-child(2) {
        color: $col_light_green;
        width: 20%;
      }

      &:nth-child(3) {
        color: $col_light_purple;
        width: 60%;
      }

      width: 33.333%;
    }

    div + div {
      border-left: 2px solid gray;
    }

    &:hover::before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: $col_blue_hover;
    }

  }

  .birthday_hint {

    border-top: 2px gray solid;
    font-size: 18px;
    transition: height 0.3s ease-in;

    &.birthday_hint_hidden {
      display: none;

    }
  }

  .profile_nav {
    border-top: 2px solid gray;
    font-family: "Lemon_Milk_Bold", serif;
    width: 100%;
    font-size: 20px;

    .profile_nav_item {
      position: relative;
      cursor: pointer;
      display: flex;
      text-indent: 10px;
      align-items: center;
      height: 40px;
      color: black;
      background-color: rgba(127, 127, 127, 0);
      transition: text-indent 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        text-indent: 25px;
        background-color: rgba(0, 3, 187, 0.3);
      }

      &:hover::before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 300px;
        background-color: white;
        left: 8px;
        animation: fadein 0.4s;
      }
      a {
        width: 100%;
      }
    }
  }

}

.border_blue {
  border: 2px solid $col_blue_dark;
  border-radius: 2px;
}

.right_part {
  width: 900px;
  padding-left: 50px;
  //Main Profile Styles
  .profile_main {
    padding-bottom: 20px;

    .title {
      width: 100%;
      font-size: 36px;
      padding-bottom: 50px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: gray;
        bottom: 30px;
        left: 0;
      }
    }

    .calendar_scroller_title {
      position: relative;
      width: 230px;
      font-size: 24px;
      text-indent: 20px;
      padding-bottom: 20px;

      &::after {
        position: absolute;
        content: "";
        width: 215px;
        height: 2px;
        background-color: gray;
        bottom: 14px;
        left: 20px;
      }

      user-select: none;

      @extend %title_question_mark;

      cursor: pointer;
    }

    .calendar_scroller {
      width: 90%;

      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0 5% 2% 5%;
    }

    .calendar_scroller_item + .calendar_scroller_item {
      margin-left: 40px;

      &::before {
        content: "";
        width: 40px;
        position: absolute;
        left: -40px;
        top: 50%;
        background-color: red;
        height: 3px;
      }
    }

    .calendar_scroller_item {
      position: relative;
      padding: 15px;
      //background-color: #7900ff;
      background-color: $col_blue_dark;
      user-select: none;
      cursor: pointer;

      &:hover {
        &:after {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: gray;
          opacity: 0.3;
          content: "";
        }
      }
    }

    .calendar_item_day {
      padding-bottom: 10px;
      font-size: 26px;
    }

    .calendar_item_date {
      text-align: center;
    }

    .calendar_item_stars {
      position: absolute;
      color: red;
      font-size: 24px;
      left: 16px;
      letter-spacing: 4px;
    }

    .calendar_scroller_footer {

      display: flex;
      width: 90%;
      margin-top: 10px;
      //background-color: pink;
      justify-content: flex-end;

      .btn_open_full_calendar {
        padding: 5px;
        font-size: 15px;
        border-radius: 12px;
        background-color: $col_blue_dark;
        transition: transform 0.1s ease-in;
        transform: scale(1, 1);

        &:hover {
          transform: scale(1.1, 1.1);
        }
      }
    }

    .holidays_title {
      @include profile_title(26px, 270px);
      margin-bottom: 10px;
    }

    .holidays_wrapper {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding-top: 20px;

      .nearest_happy_birthdays_wrapper {
        @extend %subsection_item;

        .happy_birthdays_title {
          @extend %subsection_title
        }

        .nearest_happy_birthdays {
          .person + .person {
            padding-top: 10px;
          }
        }

        .person {
          position: relative;
          cursor: pointer;
          transition: background-color 0.3s ease-in-out;
          background-color: rgba(0, 0, 0, 0);

          &:hover {
            content: "";
            background-color: $col_blue_dark_hover;
          }
        }

        .person_avatar {
          img {
            border-radius: 30px;
            width: 50px;
          }

          padding-bottom: 2px;
        }

        .person_birthdate {

        }
      }

      .nearest_holidays_wrapper {
        @extend %subsection_item;

        .nearest_holidays_title {
          @extend %subsection_title
        }

        .nearest_holidays {

        }

        .holiday {
          position: relative;
          cursor: pointer;
          transition: background-color 0.5s ease-in-out;
          background-color: rgba(0, 0, 0, 0);
          padding: 10px;

          &:hover {
            content: "";
            background-color: $col_dark_purple;
          }
        }

        .holiday_title {

        }

        .holiday_date {

        }
      }

    }

    .btn_new_event_wrapper {
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        @extend %btn_blue;
      }
    }

  }

  ////////////////////////
  .profile_new_event {

    .main_title {
      @include profile_title(26px, 200px);
      margin-bottom: 20px;
      cursor: pointer;
      @extend %title_question_mark;
      user-select: none;
    }

    .uptitle_wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      &.uptitle_hidden {
        display: none;
      }

      .uptitle {
        width: 66%;
        border: 2px $col_blue_dark dashed;
        font-style: italic;
        padding: 10px;
        text-align: center;

      }
    }

    .input_wrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .profile_input_item {
        position: relative;
        width: 33%;

        .profile_input_item_title {
          font-style: italic;
          text-indent: 15px;
          color: white;
          padding-bottom: 5px;
        }

        input {
          width: 100%;

          border-radius: 20px;
          padding: 10px;
          font-size: 20px;
        }

        .error_wrapper {
          position: absolute;
        }

        color: red;
      }

      padding-bottom: 20px;
    }

    .btn_add_event_wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      button {
        color: white;
        @extend %btn_blue;
      }
    }

    .success {

      text-align: center;
      margin-top: 15px;

      .success_text {
        color: $col_light_green;
        margin-bottom: 20px;
      }

      .success_link {
        a {
          color: white;
          background-color: $col_light_green;
          padding: 10px;
          border-radius: 10px;
          &:hover {
            background-color: $col_light_dark_green;
          }

        }
      }
    }

    .error_all {
      color: red;
      margin: 10px 0;
      text-align: center;
    }
  }

  ////////////////////////////////////////
  .profile_calendar {
    .title {
      @include profile_title(36px, 240px);
      margin-bottom: 20px;
    }
    .calendar {
      display: flex;
      min-height: 600px;
    }
    .calendar_left_part {
      background-color: $col_blue_dark;
      border-radius: 10px;
      width: 25%;
      margin-right: 5%;
      display: flex;
      flex-direction: column;

      .calendar_left_part_add_button {
        color: white;
        font-size: 18px;
        width: 200px;
        align-self: center;
        margin-top: 7px;
        margin-bottom: 40px;
        background-color: $col_blue;
        border-radius: 10px;
        &:hover {
          background-color: rgb(67, 129, 255);
        }
      }
      .calendar_left_part_title {
        font-size: 24px;
        font-family: 'Poppins', serif;
        text-align: center;
        margin-bottom: 40px;
        min-height: 27px;
      }
      .calendar_left_part_events {
        .calendar_event {
          padding: 12px 0;
          cursor: pointer;
          text-indent: 20px;
          position: relative;
          font-size: 16px;
          &:before {
            content: "";
            position: absolute;
            border-radius: 100px;
            background-color: white;
            left: 7px;
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translateY(-50%);
          }

          &:hover{
            color: $col_blue;

          }
        }
      }

    }

    .calendar_right_part {
      background-color: $col_blue_dark;
      padding: 5px;
      width: 70%;
      border-radius: 10px;
      .cr_row {
        display: flex;
        justify-content: flex-start;
      }
      .cr_col {
        width: calc(100% / 7);
        text-align: center;
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
      }
      .cr_cell {
        position: relative;
        width: calc(100% / 7);
        text-align: center;
        cursor: pointer;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
          border-radius: 50%;
          transition: background-color .5s ease-in;
          background-color: rgba(0,0,0,0);
        }
        &:hover::before {
          background-color: $col_blue_hover;

        }
        &:hover {
          p {
            background-color: rgb(0, 1, 144);
          }
        }
        p {
          position: absolute;
          margin: 0;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          line-height: 40px;
          transform: translate(-50%, -50%);
          transition: background-color 0.5s ease-in-out;
          border-radius: 50%;
          background-color: $col_blue_dark_hover;

          &:hover {

          }
          &:after {
            background-color: rgba(0,0,0,0);
            content: "";
            width: 6px;
            height: 6px;
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
          }
        }

        p[data-event-priority="1"] {
          &:after {
            background-color: white;
          }
        }
        p[data-event-priority="2"] {
          &:after {
            background-color: green;
          }
        }
        p[data-event-priority="3"] {
          &:after {
            background-color: blue;
          }
        }
        p[data-event-priority="4"] {
          &:after {
            background-color: orange;
          }
        }
        p[data-event-priority="5"] {
          &:after {
            background-color: red;
          }
        }

      }

    }
    .calendar_month_swiper {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white;
      .btn_cal {
        cursor: pointer;
        background-color: $col_blue_dark;
        border-radius: 30px;
        height: 50px;
        width: 50px;
        line-height: 20px;
        &:hover {
          background-color: $col_blue;
        }
      }
      .btn_cal_left {
        color: white;
      }
      .btn_current_month {
        margin: 0 20px;
      }
      .btn_cal_left {
        color: white;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 30%;
  }
  100% {
    opacity: 1;
  }
}

%subsection_item {
  width: 33%;
  position: relative;
  text-align: center;
  border-radius: 10px;
}

%subsection_title {
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 5px;
}

%btn_blue {
  background-color: $col_blue;
  padding: 15px 60px;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.2);
  font-size: 25px;

  &:hover {
    background-color: $col_blue_dark;
  }
}

%title_question_mark {
  &:hover::before {
    position: absolute;
    content: "?";
    font-size: 16px;
    color: blue;
    right: -5px;
    top: -3px;
  }
}