body {
    background-color: #111;
}
::-webkit-scrollbar {
    width: 24px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #143861;
}
::-webkit-scrollbar-thumb {
    background-color: #104ab3;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}