@font-face {
    src: url('./../Fonts/zyphyte-regular.ttf');
    font-family: 'Zyphyite';
}

@font-face {
    src: url('./../Fonts/zany-races-regular.ttf');
    font-family: 'Zeny';
}

@font-face {
    src: url('./../Fonts/rueck-regular.ttf');
    font-family: 'Rueck';
}

@font-face {
    src: url('./../Fonts/PTSans-Regular.ttf');
    font-family: 'PTSans';
    font-weight: 400;
}

@font-face {
    src: url('./../Fonts/PTSans-Bold.ttf');
    font-family: 'PTSans';
    font-weight: 700;
}

@font-face {
    src: url('./../Fonts/Poppins-Bold.ttf');
    font-family: 'Poppins';
    font-weight: 700;
}
@font-face {
    src: url('./../Fonts/lemon-milk-bold.otf');
    font-family: 'Lemon_Milk_Bold';
    font-weight: 400;
}